TheAbysm/.vs
TheAbysm/Assets/ML-Agents/*
TheAbysm/Assets/NextGenRecorder/*
TheAbysm/Assets/Plugins/*
TheAbysm/Assets/Resources/*
TheAbysm/Assets/Materials/*.meta
TheAbysm/Assets/Results/*.meta
TheAbysm/Assets/Scenes/*.meta
TheAbysm/Assets/Scenes/Scene2.unity
TheAbysm/Assets/Scenes/Scene3.unity
TheAbysm/Assets/Scenes/Scene4.unity
TheAbysm/Assets/TextMesh Pro/*
TheAbysm/Assets/*.meta

TheAbysm/Assets/Concrete textures pack/*
TheAbysm/Assets/IgniteCoders/*
TheAbysm/Assets/Stylized Lava Materials/*

TheAbysm/Library/*
TheAbysm/Logs/*
TheAbysm/obj/*
TheAbysm/Packages/*
TheAbysm/ProjectSettings/*
TheAbysm/results/*
TheAbysm/Temp/*
TheAbysm/UserSettings/*
TheAbysm/.vsconfig
TheAbysm/*.csproj
TheAbysm/*.sln


JumpingAgents/.vs
JumpingAgents/Assets/3D Models/*
JumpingAgents/Assets/Animation/*
JumpingAgents/Assets/Darth_Artisan*
JumpingAgents/Assets/Materials/*.meta
JumpingAgents/Assets/ML-Agents/*
JumpingAgents/Assets/Prefabs/*.meta
JumpingAgents/Assets/Prefabs/Suv Mover Double.prefab
JumpingAgents/Assets/Results/*.meta
JumpingAgents/Assets/Scenes/*.meta
JumpingAgents/Assets/Scripts/*.meta
JumpingAgents/Assets/Scripts/Less Important/*.meta
JumpingAgents/Assets/TextMesh Pro/*
JumpingAgents/Assets/UI/*.meta
JumpingAgents/Assets/*.meta
JumpingAgents/Build/*
JumpingAgents/Library/*
JumpingAgents/Logs/*
JumpingAgents/obj/*
JumpingAgents/Packages/*
JumpingAgents/ProjectSettings/*
JumpingAgents/results/*
JumpingAgents/Temp/*
JumpingAgents/TrainerConfig/results/*
JumpingAgents/TrainerConfig/jumper2.yaml
JumpingAgents/TrainerConfig/trainer_config.yaml
JumpingAgents/TrainerConfig/trainer_config_for_mlagentsV2andGreater.yaml
JumpingAgents/UserSettings/*
JumpingAgents/.vsconfig
