TheAbysm/.vs
TheAbysm/Assets/ML-Agents/*
TheAbysm/Assets/NextGenRecorder/*
TheAbysm/Assets/Plugins/*
TheAbysm/Assets/Resources/*
TheAbysm/Assets/Materials/*.mat.meta
TheAbysm/Assets/Prefabs/*.meta
TheAbysm/Assets/Results/*.meta
TheAbysm/Assets/Scenes/*.meta
TheAbysm/Assets/Scenes/Scene2.unity
TheAbysm/Assets/Scenes/Scene3.unity
TheAbysm/Assets/Scenes/Scene4.unity
TheAbysm/Assets/TextMesh Pro/*
TheAbysm/Assets/*.meta

TheAbysm/Assets/Concrete textures pack/*
TheAbysm/Assets/IgniteCoders/*
TheAbysm/Assets/Stylized Lava Materials/*

TheAbysm/Library/*
TheAbysm/Logs/*
TheAbysm/obj/*
TheAbysm/ProjectSettings/*
TheAbysm/results/*
TheAbysm/Temp/*
TheAbysm/UserSettings/*
TheAbysm/.vsconfig
TheAbysm/*.csproj
TheAbysm/*.sln


JumpingAgents/.vs
JumpingAgents/Assets/3D Models/*
JumpingAgents/Assets/Animation/*
JumpingAgents/Assets/Darth_Artisan*
JumpingAgents/Assets/Materials/*.meta
JumpingAgents/Assets/ML-Agents/*
JumpingAgents/Assets/Prefabs/*.meta
JumpingAgents/Assets/Prefabs/Suv Mover Double.prefab
JumpingAgents/Assets/Results/*.meta
JumpingAgents/Assets/Scenes/*.meta
JumpingAgents/Assets/Scripts/*.meta
JumpingAgents/Assets/Scripts/Less Important/*.meta
JumpingAgents/Assets/TextMesh Pro/*
JumpingAgents/Assets/UI/*.meta
JumpingAgents/Assets/*.meta
JumpingAgents/Build/*
JumpingAgents/Library/*
JumpingAgents/Logs/*
JumpingAgents/obj/*
JumpingAgents/ProjectSettings/*
JumpingAgents/results/*
JumpingAgents/Temp/*
JumpingAgents/TrainerConfig/results/*
JumpingAgents/TrainerConfig/jumper2.yaml
JumpingAgents/TrainerConfig/trainer_config.yaml
JumpingAgents/TrainerConfig/trainer_config_for_mlagentsV2andGreater.yaml
JumpingAgents/UserSettings/*
JumpingAgents/.vsconfig


DroneAgent/.vsconfig
DroneAgent/UserSettings/*
DroneAgent/Temp/*
DroneAgent/ProjectSettings/*
DroneAgent/Logs/*
DroneAgent/Library/*
DroneAgent/Assets/*.meta
DroneAgent/Assets/Scenes/*.meta
DroneAgent/obj/*
DroneAgent/*.sln
DroneAgent/.vs
DroneAgent/Assembly-CSharp.csproj
DroneAgent/Assets/Scripts Recovery/*
DroneAgent/Recordings/*
DroneAgent/Assets/ADG_Textures/*
DroneAgent/Assets/Conifers \[BOTD\]/*
DroneAgent/Assets/GrassFlowers/*
DroneAgent/Assets/_TerrainAutoUpgrade/*
DroneAgent/Assets/TerrainSampleAssets/* 
DroneAgent/Assets/Flooded_Grounds/*
DroneAgent/Assets/SimpleSky/*
DroneAgent/Assets/Hand Painted Grass  Texture/*
DroneAgent/Assets/LowlyPoly/*
DroneAgent/Assets/VillagePack/*
DroneAgent/Assets/Standard Assets/*
DroneAgent/results/*


# HumanoidAgents/*
HumanoidAgents/.vsconfig
HumanoidAgents/UserSettings/*
HumanoidAgents/Temp/*
HumanoidAgents/UserSettings/*
HumanoidAgents/ProjectSettings/*
HumanoidAgents/Logs/*
HumanoidAgents/Library/*
HumanoidAgents/Assets/*.meta
HumanoidAgents/Assets/Scenes/*.meta
HumanoidAgents/obj/*
HumanoidAgents/*.sln
HumanoidAgents/.vs
HumanoidAgents/Assembly-CSharp.csproj
HumanoidAgents/Assets/Scripts Recovery/*
HumanoidAgents/Recordings/*
HumanoidAgents/Assets/3D Models/uss-salvador-st-starship/*.meta
HumanoidAgents/Assets/3D Models/uss-salvador-st-starship/source/*.meta
HumanoidAgents/Assets/3D Models/uss-salvador-st-starship/textures/*.meta
HumanoidAgents/Assets/3D Models/lancelot-class-light-cruiser/*.meta
HumanoidAgents/Assets/3D Models/lancelot-class-light-cruiser/source/*.meta
HumanoidAgents/Assets/3D Models/lancelot-class-light-cruiser/textures/*.meta
HumanoidAgents/Assets/3D Models/*.meta
HumanoidAgents/Assets/3D Models/*.meta
HumanoidAgents/Assets/Animations/*.meta
HumanoidAgents/Assets/SpaceNavigator/*
HumanoidAgents/Assets/HDRI/*.meta